<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYPhotoBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFF5F84C1F089ECA00FB31AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFF5F8651F089ECA00FB31AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFF5F8701F089ECA00FB31AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
